{{>header}}
	<div class="container">

		{{#if eliminado}}
			<div class="row justify-content-center m-3 alert alert-success">
				<p>{{mensaje}}</p>
			</div>
			<div class="row justify-content-center m-3">
				<div class="col d-flex justify-content-center">
					<a href="/curso/{{idCurso}}" class="btn btn-primary">Regresar</a>
				</div>
			</div>

		{{else}}

			<div class="row justify-content-center m-3 alert alert-warning">
				<p>Atención: Está a punto de eliminar la entrada {{contenido.titulo}}, está seguro que quiere eliminarla? (Una vez eliminada no es posible recuperar la información)</p>
			</div>
			<div class="card m-2">
				<div class="card-header">
					{{contenido.titulo}}
				</div>
				<div class="card-body">
					<h6 class="card-title">Descripción:</h6>
					<p class="card-text">{{contenido.descripcion}}</p>
					<img src="data:img/jpg;base64,{{contenido.archivo}}" class="img-fluid">
				</div>
			</div>

			<div class="row justify-content-center m-3">
				<div class="col d-flex justify-content-end">
					<a href="/curso/{{idCurso}}" class="btn btn-primary">Regresar</a>
				</div>
				<div class="col d-flex justify-content-start">
					<form method="post">
						<button type="submit"class="btn btn-primary">Aceptar</button>
					</form>
				</div>
			</div>
		{{/if}}
	</div>
{{>footer}}