{{>header}}
<div class="container">
	<div class="row justify-content-center">
		<h2>Darme de baja</h2>
	</div>
  <!--
	<div class="row p-3 mb-5">
		<div class="col">
		<form method="POST">
			<div class="form-group row">
				<div class=" col-3 pl-5 pt-2 mb-3">
					<label for="idInput">Número de Identificación</label>
				</div>
				<div class="  col-7 p-1 mb-3">
					<input id= "idInput" type="number" name="identificacion" class="form-control" placeholder="Ingrese su número de identificación" required>
				</div>
				<div class=" col-2 p-1 mb-3">
					<button type="submit" class="btn btn-primary ">Consultar</button>
				</div>
			</div>
		</form>	
		</div>
	</div> 
  -->

	{{#if datos}}
      <div class="container">
    		<table class="table table-striped">
       			<thead>
       			    <tr>
       			        <th scope="col">Id del curso</th>
       			        <th scope="col">Nombre</th>
       			        <th scope="col">Modalidad</th>
       			        <th scope="col">Intensidad</th>
       			        <th scope="col"></th>
       			    </tr>
       			</thead>
        		<tbody>
        		    {{#each lista as |item| }}
        	       	    <tr>
        			        <td>{{item.id}}</th>
        			        <td>{{item.nombre}}</td>
        			        <td>{{item.modalidad}}</td>
        			        <td>{{item.intensidad}} horas</td>
        			        <td><a href="/dar-baja/{{item.idUser}}-{{item.id}}" class="btn btn-danger">Darme de baja</a></td>
        			    </tr>
        		    {{/each}}                  
        		</tbody>
    		</table>
		</div>
    {{else}}
      <div class="row justify-content-center">
        <h3>Usted actualmente no está inscrito en ningún curso</h3>
      </div>
    {{/if}}
</div>
{{>footer}}