{{>header}}
	<div class="container">
		{{#if eliminado}}
			<div class="row justify-content-center m-3 alert alert-success">
				<p>El estudiante {{usuario.nombre}} ya no se encuentra inscrito en el curso {{curso.nombre}}</p>
			</div>
			<div class="row justify-content-center m-3">
				<div class="col d-flex justify-content-center">
					<a href="/cursos" class="btn btn-primary">Regresar</a>
				</div>
			</div>
		{{else}}
			<div class="row justify-content-center m-3 alert alert-warning">
				<p>Atención: El/La estudiante {{usuario.nombre}} está matriculado(a) en el curso {{curso.nombre}}, ¿Seguro que quiere desmatricularlo(a)?</p>
			</div>
			{{{listarCursosInteresado lista rol}}}
			<div class="row justify-content-center m-3">
				<div class="col d-flex justify-content-end">
					<a href="/cursos" class="btn btn-primary">Regresar</a>
				</div>
				<div class="col d-flex justify-content-start">
					<form method="post">
						<button type="submit"class="btn btn-primary">Aceptar</button>
					</form>
				</div>
			</div>
		{{/if}}
	</div>
{{>footer}}
