{{>header}}
<div class="container">
    {{#if alerta}}
    <div class="row justify-content-center m-3 alert alert-danger">
        <p>{{mensaje}}</p>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col d-flex justify-content-center">
            <a href="/cursos" class="btn btn-primary">Regresar</a>
        </div>
    </div>
    {{else}}
    {{#if exito}}
    <div class="row justify-content-center m-3 alert alert-success">
        <p>{{mensaje}}</p>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col d-flex justify-content-center">
            <a href="/cursos" class="btn btn-primary">Regresar</a>
        </div>
    </div>
    {{else}}
    <div class="row justify-content-center m-3 alert alert-warning">
        <p>Atención: Está a punto de inscribirse al curso {{curso.nombre}} ¿Desea continuar?</p>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col d-flex justify-content-end">
            <a href="/cursos" class="btn btn-primary">Regresar</a>
        </div>
        <div class="col d-flex justify-content-start">
            <form method="POST">
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>
        </div>
    </div>
    {{/if}}
    {{/if}}
</div>
{{>footer}}