{{>header}}
<div class="container">
    <h3>Gestionar roles de los usuarios</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Rol</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each lista as |item|}}
            <tr>
                <td>{{item.identificacion}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.correo}}</td>
                <td>{{item.telefono}}</td>
                <td>{{item.rol}}</td>
                <td><a href="editar-usuario/{{item.identificacion}}" class="btn btn-primary">Actualizar</a></td>
                <td><a href="cambiar-rol/{{item.identificacion}}" class="btn btn-primary">Cambiar rol</a></td>
            </tr>
            {{else}}
                <h4>No hay usuarios</h4>
            {{/each}}
        </tbody>
    </table>
</div>
{{>footer}}