{{>header}}
	<div class="container">
		<div class="row justify-content-center m-3">
			<h2>{{curso.nombre}}</h2>
		</div>
		{{#if adscrito}}
			{{#if docente}}
				<div class="row justify-content-center m-3">
					<a href="/curso/{{curso.id}}/new" class="btn btn-success">Agregar Entrada</a>
				</div>
			{{/if}}
			<div class="row m-3">
				<h3>Contenido del curso:</h3>
			</div>
			{{#if vacio}}
				<div class="row justify-content-center m-3 alert alert-warning">
					Este curso no tiene contenido actualmente</div>
			{{else}}
				{{#each lista as |contenido|}}
					<div class="card m-2">
						<div class="card-header"><h3>{{contenido.titulo}}</h3></div>
						<div class="card-body">
							<p class="card-text"><strong>Descripción:</strong></p>
							<p class="card-text">{{contenido.descripcion}}</p><br>
							<p class="card-text"><strong>Archivos:</strong></p>
							<ul style="list-style-type:circle;">
								<li><a href="data:{{contenido.tipo}};base64,{{contenido.archivo}}" download="{{contenido.nombre}}">{{contenido.nombre}}</a></li>
							</ul><br>
							{{#if contenido.id}}
								<a href="/curso/{{contenido.curso}}/delete/{{contenido.id}}" class="btn btn-danger">Eliminar entrada</a>
							{{/if}}
						</div>
					</div>
					
				{{/each}}
			{{/if}}
		{{else}}
			<div class="row justify-content-center m-3 alert alert-warning">
				Usted no está adscrito a este curso</div>
		{{/if}}
	</div>
{{>footer}}