{{>header}}
	<div class="container">
		<div class="row justify-content-center m-3">
			<h2>{{curso.nombre}}</h2>
		</div>
		{{#if adscrito}}
			{{#if docente}}
				<div class="row justify-content-center m-3">
					<a href="/curso/{{curso.id}}/new" class="btn btn-success">Agregar Entrada</a>
				</div>
			{{/if}}
			<div class="row m-3">
				<h3>Contenido del curso:</h3>
			</div>
			{{#if vacio}}
				<div class="row justify-content-center m-3 alert alert-warning">
					Este curso no tiene contenido actualmente</div>
			{{else}}
				{{#each lista as |contenido|}}
					<div class="card m-2">
						<div class="card-header">
							{{contenido.titulo}}
						</div>
						<div class="card-body">
							<h6 class="card-title">Descripción:</h6>
							<p class="card-text">{{contenido.descripcion}}</p>
							<img src="data:img/jpg;base64,{{contenido.archivo}}" class="img-fluid"><br><br>
							{{#if contenido.id}}
								<a href="/curso/{{contenido.curso}}/delete/{{contenido.id}}" class="btn btn-danger">Eliminar entrada</a>
							{{/if}}
						</div>
					</div>
					
				{{/each}}
			{{/if}}
		{{else}}
			<div class="row justify-content-center m-3 alert alert-warning">
				Usted no está adscrito a este curso</div>
		{{/if}}
	</div>
{{>footer}}